a {
    /* from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
    On devices with small screen, the index.html would get horizontal Scroll Bar.
    It appears because of links getting out of line.
    This one forces them to wrap around */
    word-wrap: break-word;
}

.jumbotron {
    background-color: #405081; /* indigo */
}

.my_background {
    background-color: #405081; /* indigo */
    color: white;
}

.btn-primary {
    background-color: #405081; /* indigo */
}

#subject_search {
    border-color: black;
}

#info_well {
    padding-top: 0;
    background-color: white;
    color: black;
}

/* from http://stackoverflow.com/questions/16214326/bootstrap-dropdown-with-hover
to fix the bug that menu stays open, and lose focus, when users scrolls text behind it, and menu can't be scrolled
*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close*/
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #405081; /* indigo */
}


/* from http://stackoverflow.com/questions/18580203/bootstrap-modal-window-is-grayed-out
to fix the bug that Search Modal appeared grayed out */
.modal-backdrop.in {
    z-index: auto;
}

.scrollable-menu {
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;

    /*   height: auto;
       max-height: 800%;
       overflow-x: hidden;

   /*    height: auto;
       max-height: 200px;
       overflow-x: hidden;

       display: block;
       overflow: scroll;
       max-height: 800%;
       width: 400%;
   */
}

/* make search icon the same size as search bar */
.input-group .input-group-addon {
    line-height: 0 !important;
}

.fixed_top_left {
    z-index: 300;
    position: fixed;
    left: 5px;
    top: 5px;
    width: auto;
    max-width: 80%;
    display: inline;
}


h1 {
    font-size: 4em;
    /* center? */
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2.4em;
}

h5 {
    font-size: 2em;
}


body {
    text-align: justify;
    letter-spacing: 0.25px;
    line-height: 1.7;
    font-size: 16px;
}

/*
body {
    /*margin-top: 3.8em;* /
    padding: 2px;
	margin: 1em; 
}

a {
    /* disable default blue color of links * /
    color: inherit;
}
*/

.subject_normal {
    font-size: 1.3em;
    font-weight: bold;
}

.sub-subject_normal, .subject_small, .fake_subject_normal {
    font-size: 1.15em;
    font-weight: bold;
}

.definition_normal, .fake_subject_small_normal {
    /*font-family: "Times New Roman", Times, serif;*/
}

.fake_subject_small, .fake_sub-subject_normal {
    font-weight: bold;
}

.source_normal {
    font-size: 0.9em;
}


.sub-subject_small {
    font-size: 1em;
    font-weight: bold;
}

.fake_sub-subject_small {
    font-size: 0.9em;
    font-weight: bold;
}

.definition_small {
    font-size: 0.9em;
}

.source_small {
    font-size: 0.82em;
}


.subject_light {
    font-size: 1.3em;
    color: gray;
    font-weight: bold;
}

.sub-subject_light {
    font-size: 1.15em;
    color: gray;
    font-weight: bold;
}

.definition_light, .unknown_light {
    color: gray;
}

.source_light {
    font-size: 0.8em;
    color: gray;
}

.centered_meuyan:before {
    content: '\A';
    display: block;
    white-space: pre;
}

.centered_meuyan {
    display: block;
}


#footnotes {
    font-size: 0;
}


/* used by search results */
.highlight {
    background-color: yellow;
    /*color: black;*/
}


/*
.letters_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.letters_links {
    float: right;
}




.letters_links a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    font-size: 2.5em;
}



/* Change the link color on hover * /
li letters_links:hover {
    background-color: #555;
    color: white;
}

.search_result {
    text-decoration: none;
    font-size: 1.3em;
}

*/
