.fixbar {
    margin: 0;
    padding: 0.1em;
    /*background-color: white; /*#333;*/
    position: fixed;
    top: 0;
	left: 0;

    list-style-type: none;
}

letters_links {
    display: inline;
}


/* Style The Dropdown Buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 4px;
	font-family:inherit;
}

input {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    margin: 4px;
	font-family:inherit;
	width: 6.5em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    /*float:left;*/
	margin-left: 2em;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
	left: 0;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a, .dropdown-content strong {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
	overflow: scroll;
	max-height: 800%;
	width: 400%;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}