.jumbotron {
    /*background-color:  !important;*/
    background-color: #dff0d8;
}

/* from http://stackoverflow.com/questions/16214326/bootstrap-dropdown-with-hover
to fix the bug that menu stays open, and lose focus, when users scrolls text behind it, and menu can't be scrolled
*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close*/
}


.scrollable-menu {
    height: 400px;
    max-height: 400px;
	overflow-y: scroll;

 /*   height: auto;
    max-height: 800%;
    overflow-x: hidden;

/*    height: auto;
    max-height: 200px;
    overflow-x: hidden;

    display: block;
	overflow: scroll;
	max-height: 800%;
	width: 400%;
*/
}

/* make search icon the same size as search bar */
.input-group .input-group-addon {
     line-height:0!important;
 }
 
.fixed_top_left {
    z-index: 300;
    position: fixed;
	left: 5px;
	top: 5px;
    width: auto;
	max-width: 40%;
	display: inline;
}


h1 {
    font-size: 4em;
    /* center? */
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2.4em;
}

h5 {
    font-size: 2em;
}

body {
  	text-align: justify;
    letter-spacing: 0.25px;
    line-height: 1.7;
    font-size: 16px;
}
/*
body {
    /*margin-top: 3.8em;* /
    padding: 2px;
	margin: 1em; 
}

a {
    /* disable default blue color of links * /
    color: inherit;
}
*/

.subject_normal {
    font-size: 1.3em;
    font-weight: bold;
}

.sub-subject_normal, .subject_small {
    font-size: 1.15em;
    font-weight: bold;
}

.definition_normal, .fake_subject_small_normal {
    /*font-family: "Times New Roman", Times, serif;*/
}

.fake_subject_small {
    font-weight: bold;
}

.source_normal {
    font-size: 0.9em;
}


.sub-subject_small {
    font-size: 1em;
    font-weight: bold;
}


.definition_small {
    font-size: 0.9em;
}

.source_small {
    font-size: 0.82em;
}


.subject_light {
    font-size: 1.4em;
    color: gray;
    font-weight: bold;
}

.sub-subject_light {
    font-size: 1.2em;
    color: gray;
    font-weight: bold;
}

.definition_light, .unknown_light {
    color: gray;
}

.source_light {
    font-size: 0.8em;
    color: gray;
}



#footnotes {
    font-size: 0;
}


/*
.letters_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.letters_links {
    float: right;
}




.letters_links a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    font-size: 2.5em;
}



/* Change the link color on hover * /
li letters_links:hover {
    background-color: #555;
    color: white;
}

.search_result {
    text-decoration: none;
    font-size: 1.3em;
}

*/