/* display: block; */
/* color: green; */

h1 {
    font-size: 4em;
    /* center? */
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2.4em;
}

h5 {
    font-size: 2em;
}

.fixbar {
    margin: 0;
    padding: 0.3em;
    overflow: hidden;
    background-color: white; /*#333;*/
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    margin-top: 2.3em;
 }

a {
    /* disable default blue color of links */
    color: inherit;
}

.subject {
    font-size: 1.2em;
    font-weight: bold;
}

.sub-subject {
    font-size: 1.15em;
    font-weight: bold;
}

.definition, .fake_subject_small {
    /*font-family: "Times New Roman", Times, serif;*/
}

.fake_subject_small {
    font-weight: bold;
}

.source {
    font-size: 0.9em;
}


.subject_small {
    font-size: 0.9em;
    font-weight: bold;
}


.definition_small {
    font-size: 0.8em;
}

.source_small {
    font-size: 0.7em;
}


.subject_light {
    font-size: 1.4em;
    color: gray;
    font-weight: bold;
}

.sub-subject_light {
    font-size: 1.2em;
    color: gray;
    font-weight: bold;
}

.definition_light {
    color: gray;
}

.source_light {
    font-size: 0.8em;
    color: gray;
}

#footnotes {
    font-size: 0;
}

span {
/*    dir: rtl !important;
    padding: 0;
    margins: 0;
    margin-left: 0;

    border: 0;
    font-size: 3;
    white-space-collapsing: discard;
    color: red;
    */
}