<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
    	xmlns:android="http://schemas.android.com/apk/res/android"
        id          = "com.haramaty.zvika.milon"
        version     = "1.1.2" >


    <!--minimal version required by Google, due to security considerations-->
    <preference name="android-minSdkVersion" value="28"/>

    <!-- 18.11.18 - since I removed CrossWalk (due to compilation problem, and seems to be obsolete) - I'm not sure I need this: -->
    <!--<plugin name="cordova-build-architecture" spec="https://github.com/MBuchalik/cordova-build-architecture.git#v1.0.1" source="git" />-->

    <preference name="android-versionCode" value="349" />

    <!--UPDATED_BY_SCRIPT preference name="buildArchitecture" value="x86" /UPDATED_BY_SCRIPT-->


    <!-- This was a trial, currently not used, left here for future reference -->
    <!-- versionCode is optional and Android only -->
    <!--gap:plugin name="cordova-plugin-appversion" source="npm"/-->

    <!-- 26.8.20 - commented the following, because of transition from PhoneGap to Monaca
              TODO: investigate if it's needed, and find solution -->
    <!-- This allows clicking on mails addresses to work -->
    <!-- gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <allow-intent href="mailto:*" />
    <access origin="mailto:*" launch-external="yes"/>
    -->

    <name>מילון הראיה</name>
	
	<icon src="icon.png" />

    <description>
    </description>

    <author href="https://build.phonegap.com" email="haramaty.zvika@gmail.com">
        Zvika Haramaty
    </author>

    <platform name="android" />
    <!--platform name="ios" /-->

    <preference name="loadUrlTimeoutValue" value="700000" />

    <preference name="permissions" value="none"/>

    <gap:config-file platform="android" parent="/manifest/application">
        <activity android:launchMode="singleTop" />
    </gap:config-file>

    <gap:config-file platform="android" parent="/manifest">
         <!--<application android:debuggable="true" />-->
    </gap:config-file>


</widget>
