.idea
OUTPUT
output*
tex/
OLD
*~
*.swp
*.pyc
*.doc
*.docx
!dict_check.docx
!dict_short.docx
!rejects.docx
debug*
!output.golden.check/*
*.zip
*.apk
key/
key.p12
secret.py
venv/

electron_builder/dist/
electron_builder/node_modules/
electron_builder/www
electron_builder/yarn-error.log
electron_builder/yarn.lock
