/*.my_background {*/
/*    background-color: #405081;*/
/*    color: white;*/
/*}*/

/*.btn-primary {*/
/*    background-color: #405081; !* indigo *!*/
/*}*/

/*#subject_search {*/
/*    border-color: black;*/
/*}*/

h1 {
    font-size: 4em;
    /* center? */
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2.4em;
}

h5 {
    font-size: 2em;
}


body {
    text-align: justify;
    letter-spacing: 0.25px;
    line-height: 1.7;
    font-size: 16px;
}

/*
body {
    /*margin-top: 3.8em;* /
    padding: 2px;
	margin: 1em; 
}

*/

.subject_normal {
    font-size: 1.3em;
    font-weight: bold;
}

.sub-subject_normal, .subject_small, .fake_subject_normal {
    font-size: 1.15em;
    font-weight: bold;
}

.definition_normal, .fake_subject_small_normal {
    /*font-family: "Times New Roman", Times, serif;*/
}

.fake_subject_small, .fake_sub-subject_normal {
    font-weight: bold;
}

.source_normal {
    font-size: 0.9em;
}


.sub-subject_small {
    font-size: 1em;
    font-weight: bold;
}

.fake_sub-subject_small {
    font-size: 0.9em;
    font-weight: bold;
}

.definition_small {
    font-size: 0.9em;
}

.source_small {
    font-size: 0.82em;
}


.subject_light {
    font-size: 1.3em;
    color: gray;
    font-weight: bold;
}

.sub-subject_light {
    font-size: 1.15em;
    color: gray;
    font-weight: bold;
}

.definition_light, .unknown_light {
    color: gray;
}

.source_light {
    font-size: 0.8em;
    color: gray;
}

.centered_meuyan:before {
    content: '\A';
    display: block;
    white-space: pre;
}

.centered_meuyan {
    display: block;
}


#footnotes {
    font-size: 0;
}


/* used by search results */
.highlight {
    background-color: yellow;
    /*color: black;*/
}


.letters_links a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    font-size: 2.5em;
}
